<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:elasticsearch="http://www.springframework.org/schema/data/elasticsearch"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/data/elasticsearch
        http://www.springframework.org/schema/data/elasticsearch/spring-elasticsearch-1.0.xsd">


    <elasticsearch:transport-client id="client" cluster-name="@elasticsearch.cluster.name@11111"
                                    cluster-nodes="@elasticsearch.node01@"/>
    <!--<elasticsearch:node-client id="client" local="true"/>-->


    <bean name="elasticsearchTemplate" class="com.water.es.utils.ElesticsearchExtTemplate">
        <constructor-arg name="client" ref="client"/>
    </bean>

</beans>